.AuthContainer-bg {
    background-image: url(../assets/images/wallpaper.jpg);
    background-size: cover;
    background-position: top center;
}

/* MAKER CONTAINER */

.makerContainer-sidebar {
    background-color: #232020;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.372)!important;
    border-right: 1px solid #3a3535;
}

.makerContainer-sidebar-profile, .makerContainer-sidebar-profile:hover, .makerContainer-sidebar-profile:focus {
    background-color: #f4f4f4 !important;
    color: #232020 !important;
    border: none;
    box-shadow: none;
}

.makerContainer-nav {
    background-color: #232020;
    display: block;
    color: white;
    text-decoration: none;
}

.makerContainer-nav:hover {
    background-color: #3a3535;
}

.makerContainer-active, .makerContainer-active:hover {
    background-color: #ff7315;
    display: block;
    color: white
}