.color-primary {
  color:#fdb439;
}

.bg-mvp-primary {
  background: #fdb439 !important;
}

.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: #fdb439 !important;
}

.text-bolder {
  font-weight: bolder;
}

.bg-gray {
  background-color: rgb(216, 216, 216);
}

.cursor-pointer {
  cursor: pointer;
}

/* DATEPICKER FIX STYLES */
.react-datepicker-wrapper{
  width: 100%;
}

.datepicker-container {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  margin: 10px 0;
}

.text-12{
  font-size: 12px;
}

/* CHAT */
.chat-container {
  border-radius: 5px;
  border: 1px solid #fdb439;
  height: 100%;
}

.chat-header {
  background: #3a3535;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 60px;
}

.chat-body {
  height: 400px;
  overflow-y: scroll;
}

.chat-footer{
  background: #3a3535;
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chat-message {
  background-color: #f4f4f4;
}